$font-family: 'Helvetica Neue', Helvetica, Arial, "Microsoft YaHei", sans-serif;
@use './common.scss' as *;
html,
body {
  margin: 0;
  padding: 0;
  background: #e4e4e4;
  width: 100%;
  @media screen and (max-width: 1049px){
    background: #fff;
  }
}


body{
  font: 16px/1.5 $font-family;
  color: #333;
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  color: $deep-blue;
}

p {
  margin: 5px 0;
}

.font-bold {
  font-weight: bold !important;
}

.text-center {
  text-align: center !important;
}


em {
  display: inline-block;
  font-family: Menlo, $font-family;
  background: #f7f7f7;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  font-style: normal;
  line-height: 1.2;
  padding: 0 3px;
  text-align: center;
}


/* 主题色变量 */
$--color-primary: #33477C;

$scroller-color: #DCDFE6;
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background: rgba($color: $--color-primary, $alpha: 0.3);
}
::-webkit-scrollbar-thumb {
  background: $--color-primary;
  border-radius: 5px;
}


